<!DOCTYPE html>
<html>
<head>
    <title>Romerriket</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

<nav>
    <a href="/">Hjem</a>
    <a href="/dashboard">Innlegg</a>
    <a href="/cipher">Cipher</a>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <a href="/logout">Logout</a>

    <form method="POST" action="/delete-user" style="display:inline;">
        <button onclick="return confirm('Er du sikker?')">Slett bruker</button>
    </form>
</nav>
</nav>
<hr>

