<%- include("partials/header") %>

<h2>Login</h2>

<p><%= message %></p>

<form method="POST">
    <input name="username" placeholder="Brukernavn">
    <input type="password" name="password" placeholder="Passord">
    <button>Login</button>
</form>

<%- include("partials/footer") %>