<%- include("partials/header") %>

<h2>Register</h2>

<p><%= message %></p>

<form method="POST">
    <input name="username">
    <input type="password" name="password">
    <button>Registrer</button>
</form>

<%- include("partials/footer") %>